<div>
    <h1>About</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque
        maiores recusandae nulla! Neque vitae delectus consectetur inventore
        labore minus consequatur vel provident ipsam, voluptatum at nihil enim
        explicabo nisi eos architecto consequuntur. Aspernatur, non saepe atque
        quam dolorem facere.
    </p>
    <p>
        Numero de clientes
        <app-counter [message]="message()" [duration]="duration()"></app-counter>
    </p>
    <div>
        <app-wave-audio [audioUrl]="audio"></app-wave-audio>
    </div>
</div>
